// Colors

$black: #000000;

$gray-orange: #d7cfbe;
$gray-dark: #525252;
$gray-darker: #272727;
$gray-light: #7d7d7d;
$gray-lighter: #a8a8a8;
$gray-lightest: #d3d3d3;

$yellow: #e8db00;

$white: #ffffff;
$white-gray: #fcfaf3;